* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
       color: #1c1e21;
        width: 100%;
        height: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f0f2f5;
        font-size: 16px;  
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
 }
    .container{
        border-radius: 8px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); 
        background-color: white;
        border: 1px solid #dddfe2;
        width: 24.75rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
    }

   
    #loginfb {
        font-size: 1.3rem;
        line-height: 1.3rem;
        font-weight: 500;
        margin: 15px;
    }

    input{
        font-size: 17px;
        width: 100%;
        height: 3.25rem;
        border-radius: 6px;
        margin-bottom: 10px;
        outline: none;
        border: 1px solid #dddddd;   
        padding: 12px 20px;
    }

    .input::placeholder{
        color: #bbbbbb;
    }

    .input:focus{
        background-color: #f9f9f9;
    }
    .facebook {
        width: 240px;
    }

    .login {
        background-color: #1877f2;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 20px;
        width: 100%;
        height: 3rem;
        color: white;
        margin-bottom: 14px;
        cursor: pointer;
        transition: background-color 3s;
    }

    .login:hover{
        background-color: #68a4f7;
    }


    .newaccount{
        background-color: #42b72a;
        border-radius: 6px;
        border: none;
        font-weight: bold;
        font-size: 17px;
        line-height: 25px;
        padding: 10px 16px;
        width: 200px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: background-color 3s;
    }
    
    .newaccount:hover{
        background-color: #76f05e;
    }
    .newaccount span{
        color: white;
    }
    .forget a {
        color: #1877f2;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 16px;
    }

    .divor{
        width: 100%;
        height: 3rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .or::after{
        font-weight: 500;
        font-size: 1.2em;
        color: #bbb;
        position: absolute;
        content: "";
        height: 0.5px;
        width: 45%;
        background-color: #ccc;
        top: 50%;
        right: 0;
    }

    .or::before{
        font-weight: 500;
        font-size: 1.2em;
        color: #bbb;
        position: absolute;
        content: "";
        height: 0.5px;
        width: 45%;
        background-color:#ccc;
        top: 50%;
        left: 0;
    }

 a{
    cursor: pointer;
    text-decoration: none;
 }
.footer{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
}